.header-teste {
  background: #fff444;
}

.fin-title {
  background: var(--ion-color-quaternary) !important;
}

.fin-button {
  max-width: 50% !important;
}

.fin-header-depesa {
  background-color: var(--ion-color-quaternary);
  color: #ffffff;
}
